.error-message {
  margin: 24px;
  text-align: center;
  color: var(--text-important);
}

.spinner {
  margin: auto;
}

.selection-wrapper {
  padding: 24px var(--padding-page-mobile);
}

.page-separator {
  height: 1px;
  width: 100vw;
  background-color: var(--border-transparent);
}

@media (min-width: 768px) {
  .error-message {
    max-width: var(--max-width);
  }

  .selection-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
  }

  .selection-wrapper__filter {
    flex: 0 0 calc(50% - 12px);
  }
}
