:root {
  /* COLORS */
  --primary-bg-dark: #4e2b6e;
  --primary-bg-light: #9856db;
  --secondary-bg: #333333;
  --text-light: #ffffff;
  --text-dark: #0e0e0e;
  --text-important: #bb0e16;
  --shadow: #999999;

  /* DIMENSIONS */
  --header-height: 124px;
  --footer-height: 64px;

  /* DIMENSIONS DESKTOP */
  --max-width: 640px;

  /* SPACING */
  --padding-page-mobile: 16px;

  /* BORDER */
  --border-transparent: rgba(52, 52, 52, 0.1);
  --border-dark: #000000;
  --border-radius: 7px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

h1,
h2,
p {
  margin: 0;
}
